@using GroupBoizCommon.DTO
@model LoginDTO

@{
    ViewData["Title"] = "Login";
    Layout = "_MinimalLayout";
}

<link rel="stylesheet" href="~/assets/css/sign-In-Up.css" />
<script src="~/vendor/jquery/jquery.min.js"></script>

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/assets/images/signin-image.jpg" alt="sign in image" /></figure>
                <a href="/Register" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign In</h2>

                <!-- Hiển thị thông báo lỗi nếu có -->
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert alert-danger mt-2">@ViewBag.Message</div>
                }

                <!-- Form đăng nhập -->
                <form method="post" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="email" name="AccountEmail" id="Email" placeholder="Your Email"
                               value="@(Model != null ? Model.AccountEmail : "")" />
                    </div>
                    <div class="form-group">
                        <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="AccountPassword" id="Password" placeholder="Your Password" />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="log in" />
                    </div>
                </form>


                <!-- Login with social media -->
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
